.acadlix-all-course-page {
  width: 100%;
}

/* Course filter css */
.acadlix-course-filter-bar-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acadlix-course-filter-text h4 {
  color: var(--acadlix-text-tertiary);
}

.acadlix-course-filter-text h4 span {
  color: var(--acadlix-text-primary);
}

.acadlix-course-filter-select:focus {
  border-color: var(--acadlix-primary-main);
}

/* Course Card css */
.acadlix-all-course-card {
  height: 100%;
}

.acadlix-course-page-img {
  width: 100%;
  height: 200px;
  aspect-ratio: auto 240/135;
}

.acadlix-course-page-chip {
  width: fit-content;
  background-color: var(--acadlix-primary-100);
  color: var(--acadlix-primary-main);
  padding: 0.125rem 0.4rem;
  border-radius: var(--acadlix-border-radius);
  border: 0;
}

.acadlix-course-page-card-title a {
  color: var(--acadlix-text-primary);
  text-decoration: none;
}

.acadlix-course-page-card-title a:hover,
.acadlix-course-page-card-title a:focus {
  color: var(--acadlix-text-primary);
  text-decoration: none;
  outline: none;
}

.acadlix-course-user a {
  color: var(--acadlix-text-tertiary);
  text-decoration: none;
}

.acadlix-course-user a:hover,
.acadlix-course-user a:focus {
  color: var(--acadlix-primary-main);
  text-decoration: none;
  outline: none;
}

.acadlix-course-page-free {
  border-radius: var(--acadlix-border-radius);
  background-color: var(--acadlix-success-main);
  color: var(--acadlix-primary-contrastText);
}

.acadlix-course-page-card-price {
  font-weight: bold;
}

.acadlix-course-page-before-price {
  text-decoration: line-through;
  color: var(--acadlix-text-tertiary);
  font-weight: 500;
}

.acadlix-action-button {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  background-color: var(--acadlix-primary-main);
  border-radius: var(--acadlix-border-radius);
  color: var(--acadlix-primary-contrastText);
  box-shadow: var(--acadlix-box-shadow-2);
}

.acadlix-action-button:hover {
  color: var(--acadlix-primary-contrastText);
  background-color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
}

.acadlix-action-button i {
  margin-right: 5px;
}

.acadlix-action-error-message{
  border: 1px solid var(--acadlix-error-dark);
  background-color: var(--acadlix-error-main);
  color: var(--acadlix-primary-contrastText);
  padding: 0.25rem;
  font-size: smaller;
  text-align: center;
}

.acadlix-course-page-icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  box-shadow: var(--acadlix-box-shadow-2);
  color: var(--acadlix-primary-main);
}

.acadlix-course-page-icon-element:hover {
  color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
}

.acadlix-btn-loader {
  border: 3px solid var(--acadlix-border-color);
  border-top: 3px solid var(--acadlix-primary-main);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Pagination css  */
.acadlix-course-pagination-container {
  text-align: center;
  padding-top: 1rem;
}

.acadlix-course-pagination-nav {
  display: inline-block;
  width: auto;
}

.acadlix-course-pagination-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.acadlix-course-pagination-link {
  display: block;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  color: var(--acadlix-primary-main);
  border-radius: var(--acadlix-border-radius);
  transition: background-color 0.3s ease;
}

.acadlix-course-pagination-link:hover {
  background-color: var(--acadlix-grey);
}

.acadlix-course-pagination-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.acadlix-course-pagination-item.acadlix-course-pagination-active .acadlix-course-pagination-link {
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-primary-contrastText);
}

.acadlix-course-pagination-info {
  color: var(--acadlix-text-tertiary);
}