.acadlix-course-page h1,
.acadlix-course-page .acadlix-h1 {
  font-size: var(--acadlix-h1-fs-mobile);
  font-weight: var(--acadlix-h1-fw-mobile);
  line-height: var(--acadlix-h1-lh-mobile);
  letter-spacing: var(--acadlix-h1-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page h2,
.acadlix-course-page .acadlix-h2 {
  font-size: var(--acadlix-h2-fs-mobile);
  font-weight: var(--acadlix-h2-fw-mobile);
  line-height: var(--acadlix-h2-lh-mobile);
  letter-spacing: var(--acadlix-h2-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page h3,
.acadlix-course-page .acadlix-h3 {
  font-size: var(--acadlix-h3-fs-mobile);
  font-weight: var(--acadlix-h3-fw-mobile);
  line-height: var(--acadlix-h3-lh-mobile);
  letter-spacing: var(--acadlix-h3-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page h4,
.acadlix-course-page .acadlix-h4 {
  font-size: var(--acadlix-h4-fs-mobile);
  font-weight: var(--acadlix-h4-fw-mobile);
  line-height: var(--acadlix-h4-lh-mobile);
  letter-spacing: var(--acadlix-h4-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page h5,
.acadlix-course-page .acadlix-h5 {
  font-size: var(--acadlix-h5-fs-mobile);
  font-weight: var(--acadlix-h5-fw-mobile);
  line-height: var(--acadlix-h5-lh-mobile);
  letter-spacing: var(--acadlix-h5-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page h6,
.acadlix-course-page .acadlix-h6 {
  font-size: var(--acadlix-h6-fs-mobile);
  font-weight: var(--acadlix-h6-fw-mobile);
  line-height: var(--acadlix-h6-lh-mobile);
  letter-spacing: var(--acadlix-h6-ls-mobile);
  margin-bottom: 0;
  margin-top: 0;
}

.acadlix-course-page .acadlix-body1,
.acadlix-course-page p {
  font-size: var(--acadlix-body1-fs-mobile);
  font-weight: var(--acadlix-body1-fw-mobile);
  line-height: var(--acadlix-body1-lh-mobile);
  letter-spacing: var(--acadlix-body1-ls-mobile);
}

.acadlix-course-page .acadlix-body2 {
  font-size: var(--acadlix-body2-fs-mobile);
  font-weight: var(--acadlix-body2-fw-mobile);
  line-height: var(--acadlix-body2-lh-mobile);
  letter-spacing: var(--acadlix-body2-ls-mobile);
}

.acadlix-course-page .acadlix-subtitle1 {
  font-size: var(--acadlix-subtitle1-fs-mobile);
  font-weight: var(--acadlix-subtitle1-fw-mobile);
  line-height: var(--acadlix-subtitle1-lh-mobile);
  letter-spacing: var(--acadlix-subtitle1-ls-mobile);
}

.acadlix-course-page .acadlix-subtitle2 {
  font-size: var(--acadlix-subtitle2-fs-mobile);
  font-weight: var(--acadlix-subtitle2-fw-mobile);
  line-height: var(--acadlix-subtitle2-lh-mobile);
  letter-spacing: var(--acadlix-subtitle2-ls-mobile);
}

@media (min-width: 600px) {

  .acadlix-course-page h1,
  .acadlix-course-page .acadlix-h1 {
    font-size: var(--acadlix-h1-fs-tablet);
    font-weight: var(--acadlix-h1-fw-tablet);
    line-height: var(--acadlix-h1-lh-tablet);
    letter-spacing: var(--acadlix-h1-ls-tablet);
  }

  .acadlix-course-page h2,
  .acadlix-course-page .acadlix-h2 {
    font-size: var(--acadlix-h2-fs-tablet);
    font-weight: var(--acadlix-h2-fw-tablet);
    line-height: var(--acadlix-h2-lh-tablet);
    letter-spacing: var(--acadlix-h2-ls-tablet);
  }

  .acadlix-course-page h3,
  .acadlix-course-page .acadlix-h3 {
    font-size: var(--acadlix-h3-fs-tablet);
    font-weight: var(--acadlix-h3-fw-tablet);
    line-height: var(--acadlix-h3-lh-tablet);
    letter-spacing: var(--acadlix-h3-ls-tablet);
  }

  .acadlix-course-page h4,
  .acadlix-course-page .acadlix-h4 {
    font-size: var(--acadlix-h4-fs-tablet);
    font-weight: var(--acadlix-h4-fw-tablet);
    line-height: var(--acadlix-h4-lh-tablet);
    letter-spacing: var(--acadlix-h4-ls-tablet);
  }

  .acadlix-course-page h5,
  .acadlix-course-page .acadlix-h5 {
    font-size: var(--acadlix-h5-fs-tablet);
    font-weight: var(--acadlix-h5-fw-tablet);
    line-height: var(--acadlix-h5-lh-tablet);
    letter-spacing: var(--acadlix-h5-ls-tablet);
  }

  .acadlix-course-page h6,
  .acadlix-course-page .acadlix-h6 {
    font-size: var(--acadlix-h6-fs-tablet);
    font-weight: var(--acadlix-h6-fw-tablet);
    line-height: var(--acadlix-h6-lh-tablet);
    letter-spacing: var(--acadlix-h6-ls-tablet);
  }

  .acadlix-course-page .acadlix-body1,
  .acadlix-course-page p {
    font-size: var(--acadlix-body1-fs-tablet);
    font-weight: var(--acadlix-body1-fw-tablet);
    line-height: var(--acadlix-body1-lh-tablet);
    letter-spacing: var(--acadlix-body1-ls-tablet);
  }

  .acadlix-course-page .acadlix-body2 {
    font-size: var(--acadlix-body2-fs-tablet);
    font-weight: var(--acadlix-body2-fw-tablet);
    line-height: var(--acadlix-body2-lh-tablet);
    letter-spacing: var(--acadlix-body2-ls-tablet);
  }

  .acadlix-course-page .acadlix-subtitle1 {
    font-size: var(--acadlix-subtitle1-fs-tablet);
    font-weight: var(--acadlix-subtitle1-fw-tablet);
    line-height: var(--acadlix-subtitle1-lh-tablet);
    letter-spacing: var(--acadlix-subtitle1-ls-tablet);
  }

  .acadlix-course-page .acadlix-subtitle2 {
    font-size: var(--acadlix-subtitle2-fs-tablet);
    font-weight: var(--acadlix-subtitle2-fw-tablet);
    line-height: var(--acadlix-subtitle2-lh-tablet);
    letter-spacing: var(--acadlix-subtitle2-ls-tablet);
  }
}

@media (min-width: 900px) {

  .acadlix-course-page h1,
  .acadlix-course-page .acadlix-h1 {
    font-size: var(--acadlix-h1-fs-desktop);
    font-weight: var(--acadlix-h1-fw-desktop);
    line-height: var(--acadlix-h1-lh-desktop);
    letter-spacing: var(--acadlix-h1-ls-desktop);
  }

  .acadlix-course-page h2,
  .acadlix-course-page .acadlix-h2 {
    font-size: var(--acadlix-h2-fs-desktop);
    font-weight: var(--acadlix-h2-fw-desktop);
    line-height: var(--acadlix-h2-lh-desktop);
    letter-spacing: var(--acadlix-h2-ls-desktop);
  }

  .acadlix-course-page h3,
  .acadlix-course-page .acadlix-h3 {
    font-size: var(--acadlix-h3-fs-desktop);
    font-weight: var(--acadlix-h3-fw-desktop);
    line-height: var(--acadlix-h3-lh-desktop);
    letter-spacing: var(--acadlix-h3-ls-desktop);
  }

  .acadlix-course-page h4,
  .acadlix-course-page .acadlix-h4 {
    font-size: var(--acadlix-h4-fs-desktop);
    font-weight: var(--acadlix-h4-fw-desktop);
    line-height: var(--acadlix-h4-lh-desktop);
    letter-spacing: var(--acadlix-h4-ls-desktop);
  }

  .acadlix-course-page h5,
  .acadlix-course-page .acadlix-h5 {
    font-size: var(--acadlix-h5-fs-desktop);
    font-weight: var(--acadlix-h5-fw-desktop);
    line-height: var(--acadlix-h5-lh-desktop);
    letter-spacing: var(--acadlix-h5-ls-desktop);
  }

  .acadlix-course-page h6,
  .acadlix-course-page .acadlix-h6 {
    font-size: var(--acadlix-h6-fs-desktop);
    font-weight: var(--acadlix-h6-fw-desktop);
    line-height: var(--acadlix-h6-lh-desktop);
    letter-spacing: var(--acadlix-h6-ls-desktop);
  }

  .acadlix-course-page .acadlix-body1,
  .acadlix-course-page p {
    font-size: var(--acadlix-body1-fs-desktop);
    font-weight: var(--acadlix-body1-fw-desktop);
    line-height: var(--acadlix-body1-lh-desktop);
    letter-spacing: var(--acadlix-body1-ls-desktop);
  }

  .acadlix-course-page .acadlix-body2 {
    font-size: var(--acadlix-body2-fs-desktop);
    font-weight: var(--acadlix-body2-fw-desktop);
    line-height: var(--acadlix-body2-lh-desktop);
    letter-spacing: var(--acadlix-body2-ls-desktop);
  }

  .acadlix-course-page .acadlix-subtitle1 {
    font-size: var(--acadlix-subtitle1-fs-desktop);
    font-weight: var(--acadlix-subtitle1-fw-desktop);
    line-height: var(--acadlix-subtitle1-lh-desktop);
    letter-spacing: var(--acadlix-subtitle1-ls-desktop);
  }

  .acadlix-course-page .acadlix-subtitle2 {
    font-size: var(--acadlix-subtitle2-fs-desktop);
    font-weight: var(--acadlix-subtitle2-fw-desktop);
    line-height: var(--acadlix-subtitle2-lh-desktop);
    letter-spacing: var(--acadlix-subtitle2-ls-desktop);
  }
}

.acadlix-course-page {
  width: 100%;
}

.acadlix-course-page .acadlix-course-header-section {
  position: relative;
}

.acadlix-course-page .acadlix-course-header-body {
  max-width: 73%;
  border-radius: var(--acadlix-border-radius);
  padding: 3rem;
}

.acadlix-course-page .acadlix-course-header-title {
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-course-header-last-updated {
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-course-header-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.acadlix-course-page .acadlix-course-header-rating .acadlix-course-rating-stars {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-course-header-author {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-course-header-created-at-text,
.acadlix-course-page .acadlix-course-header-categories-text {
  color: var(--acadlix-text-secondary);
}

.acadlix-course-page .acadlix-course-author a {
  color: var(--acadlix-text-primary);
  text-decoration: none;
  font-weight: bold;
}

.acadlix-course-page .acadlix-course-author a:hover,
.acadlix-course-page .acadlix-course-author a:focus {
  color: var(--acadlix-primary-main);
  border-bottom: 1px solid var(--acadlix-primary-main);
  text-decoration: none;
  outline: none;
}

.acadlix-course-page .acadlix-course-header-categories {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
}

.acadlix-course-page .acadlix-course-categories a {
  color: var(--acadlix-text-primary);
  text-decoration: none;
  font-weight: bold;
}

.acadlix-course-page .acadlix-course-categories a:hover,
.acadlix-course-page .acadlix-course-categories a:focus {
  color: var(--acadlix-primary-main);
  border-bottom: 1px solid var(--acadlix-primary-main);
  text-decoration: none;
  outline: none;
}

.acadlix-course-page .acadlix-course-aside {
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  width: 25%;
  background-color: var(--acadlix-background-paper);
  border-radius: var(--acadlix-border-radius);
  box-shadow: var(--acadlix-box-shadow-2);
}

/* Price Section */
.acadlix-course-page .acadlix-mobile-price-info {
  display: none;
}

.acadlix-course-page .acadlix-price-free {
  border-radius: var(--acadlix-border-radius);
  background-color: var(--acadlix-success-main);
  color: var(--acadlix-primary-contrastText);
}

.acadlix-course-page .acadlix-pricing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.acadlix-course-page .acadlix-pricing {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-course-sale-price {
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-course-price {
  text-decoration: line-through;
  color: var(--acadlix-text-secondary);
}

.acadlix-course-page .acadlix-discount-tag {
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-text-white);
  padding: 4px;
}

/* Course Details */
.acadlix-course-page .acadlix-course-aside-details {
  border-top: 1px solid var(--acadlix-text-secondary);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  flex-direction: column;
  gap: 0.5rem;
}

.acadlix-course-page .acadlix-course-aside-details-option {
  display: flex;
  justify-content: space-between;
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-course-tags a {
  color: var(--acadlix-text-primary);
  text-decoration: none;
}

.acadlix-course-page .acadlix-course-tags a:hover,
.acadlix-course-page .acadlix-course-tags a:focus {
  color: var(--acadlix-primary-main);
  border-bottom: 1px solid var(--acadlix-primary-main);
  text-decoration: none;
  outline: none;
}

/* Purchase Section */
.acadlix-course-page .acadlix-course-aside-purchase-options {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.acadlix-course-page .acadlix-course-action-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-action-button {
  width: 100%;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-flex;
  align-items: center;
  background-color: var(--acadlix-primary-main);
  border-radius: var(--acadlix-border-radius);
  color: var(--acadlix-primary-contrastText);
  box-shadow: var(--acadlix-box-shadow-2);
  text-decoration: none;
}

.acadlix-course-page .acadlix-action-button:hover,
.acadlix-course-page .acadlix-action-button:focus {
  color: var(--acadlix-primary-contrastText);
  background-color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
  text-decoration: none;
}

.acadlix-course-page .acadlix-action-button i {
  margin-right: 5px;
}

.acadlix-course-page .acadlix-action-error-message {
  border: 1px solid var(--acadlix-error-dark);
  background-color: var(--acadlix-error-main);
  color: var(--acadlix-primary-contrastText);
  padding: 0.25rem;
  font-size: smaller;
  text-align: center;
}

.acadlix-course-page .acadlix-course-page-icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  box-shadow: var(--acadlix-box-shadow-2);
  color: var(--acadlix-primary-main);
}

.acadlix-course-page .acadlix-course-page-icon-element:hover {
  color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
}

.acadlix-btn-loader {
  border: 3px solid var(--acadlix-border-color);
  border-top: 3px solid var(--acadlix-primary-main);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.acadlix-course-page .acadlix-course-main-section {
  max-width: 70%;
}

.acadlix-course-page .acadlix-course-main-navbar {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.acadlix-course-page .acadlix-course-main-navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.acadlix-course-page .acadlix-course-main-navbar-list li a {
  color: var(--acadlix-text-primary);
  text-decoration: none;
}

.acadlix-course-page .acadlix-course-main-navbar-list li a:hover,
.acadlix-course-page .acadlix-course-main-navbar-list li a:focus {
  outline: none;
  border-bottom: 1px solid var(--acadlix-primary-main);
  color: var(--acadlix-primary-main);
}

.acadlix-course-page .acadlix-button-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-text-white);
  height: 22px;
  width: 22px;
}


.acadlix-course-page .acadlix-course-overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Curriculum Section Styling */
.acadlix-course-page .acadlix-curriculum-item {
  border: 1px solid var(--acadlix-border-color);
  border-radius: var(--acadlix-border-radius);
}

.acadlix-course-page .acadlix-curriculum-details {
  overflow: hidden;
}

.acadlix-course-page .acadlix-curriculum-summary {
  display: block;
  padding: 8px 16px;
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-curriculum-summary::-webkit-details-marker {
  display: none;
}

.acadlix-course-page .acadlix-curriculum-summary h3 {
  position: relative;
  display: flex;
  align-items: center;
}

.acadlix-course-page .acadlix-curriculum-summary h3:hover {
  cursor: pointer;
  color: var(--acadlix-primary-main);
}

.acadlix-course-page .acadlix-curriculum-summary h3 i {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  transition: rotate 200ms ease-out;
}

.acadlix-course-page .acadlix-curriculum-details[open] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.acadlix-course-page .acadlix-curriculum-details[open] .acadlix-curriculum-summary {
  border-radius: var(--acadlix-border-radius);
  background-color: var(--acadlix-grey);
}

.acadlix-course-page .acadlix-curriculum-details[open] .acadlix-curriculum-summary h3 {
  color: var(--acadlix-primary-main);
}

.acadlix-course-page .acadlix-curriculum-details[open] h3 i {
  rotate: 90deg;
  transition: rotate 200ms ease-out;
}

.acadlix-course-page .acadlix-curriculum-content {
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  border: 0px;
  animation: closeAnimation 0.3s ease forwards;
}

.acadlix-course-page .acadlix-curriculum-details[open]+div.acadlix-curriculum-content {
  max-height: 80rem;
  border-top: 1px solid var(--acadlix-border-color);
  border-radius: var(--acadlix-border-radius);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  animation: openAnimation 0.5s ease forwards;
}

@keyframes openAnimation {
  0% {
    max-height: 0;
    border-top: 0px solid var(--acadlix-border-color);
  }

  100% {
    max-height: 80rem;
    /* Set high enough value for large content */
    border-top: 1px solid var(--acadlix-border-color);
  }
}

@keyframes closeAnimation {
  from {
    max-height: 80rem;
    border-top: 1px solid var(--acadlix-border-color);
  }

  to {
    max-height: 0;
    border-top: 0px solid var(--acadlix-border-color);
  }
}

.acadlix-course-page .acadlix-curriculum-content-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: inherit;
  transition: background-color 200ms ease-in;
}

.acadlix-course-page .acadlix-curriculum-content-item:hover,
.acadlix-course-page .acadlix-curriculum-content-item:focus {
  cursor: pointer;
  background-color: var(--acadlix-grey);
}

.acadlix-course-page .acadlix-content-text {
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-content-duration-icon i,
.acadlix-course-page .acadlix-content-duration,
.acadlix-course-page .acadlix-content-icon i {
  color: var(--acadlix-text-secondary);
}

/* Instructor Photo */
.acadlix-course-page .acadlix-course-instructor-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 2px solid var(--acadlix-primary-main);
  /* Added border for emphasis */
}

.acadlix-course-page .acadlix-course-user-description {
  margin-bottom: 10px;
  color: var(--acadlix-text-secondary);
  /* Slightly darkened for readability */
}

.acadlix-course-page .acadlix-mobile-sticky-footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  background-color: var(--acadlix-background-paper);
  box-shadow: var(--acadlix-box-shadow-2);
  padding: 10px 10px;
  z-index: 1000;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-course-reviews-summary {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: row;
}

.acadlix-course-page .acadlix-course-review-basic-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.acadlix-course-page .acadlix-course-review-basic-summary .acadlix-rating-value {
  font-size: 5rem;
  font-weight: bold;
  color: var(--acadlix-text-primary);
}

.acadlix-course-page .acadlix-course-review-basic-summary .acadlix-rating-stars {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.acadlix-course-page .acadlix-course-review-breakdown {
  width: 100%;
}

.acadlix-course-page .acadlix-course-review-breakdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 1rem;
}

.acadlix-course-page .acadlix-review-star {
  color: var(--acadlix-star-color);
}

.acadlix-course-page .acadlix-rating-progress-bar {
  background-color: #e3e5eb;
  width: 100%;
  height: 8px;
  border-radius: var(--acadlix-border-radius);
  position: relative;
}

.acadlix-course-page .acadlix-rating-progress-bar .acadlix-progress-value {
  position: absolute;
  height: 100%;
  background-color: var(--acadlix-star-color);
  width: var(--acadlix-progress-value);
  border-radius: var(--acadlix-border-radius);
}

.acadlix-course-page .acadlix-review-star-count {
  white-space: nowrap;
}

.acadlix-course-page .acadlix-course-single-review {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--acadlix-border-color);
  padding: 1rem 1rem;
}

.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.acadlix-course-page .acadlix-course-review-user-info .acadlix-course-review-user-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-user-details {
  display: flex;
  flex-direction: column;
}

.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-user-name {
  color: var(--acadlix-text-primary);
  text-decoration: none;
}

.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-user-name:hover,
.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-user-name:focus {
  color: var(--acadlix-primary-main);
  text-decoration: none;
  outline: none;
}

.acadlix-course-page .acadlix-course-single-review .acadlix-course-review-pending {
  background-color: var(--acadlix-warning-light);
  color: var(--acadlix-warning-contrastText);
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  margin-left: auto;
}

.acadlix-course-page .acadlix-course-review-rating .acadlix-single-course-review-stars {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
}

.acadlix-course-page .acadlix-review-form-container {
  margin-top: 1rem;
}

.acadlix-course-page .acadlix-rating-textarea {
  width: 100%;
  box-shadow: none;
  background: #fff;
  border: 1px solid #dcdfe5;
  border-radius: 4px;
  margin-bottom: 8px;
  font-size: 16px;
  transition: all .3s;
  display: block;
  text-indent: 0;
  height: 180px;
  padding: 15px;
  line-height: 26px;
}

.acadlix-course-page .acadlix-rating-textarea:focus {
  background: #fff;
  border: 1px solid var(--acadlix-primary-main) !important;
  outline: none;
}

.acadlix-course-page .acadlix-course-reviews-pagination {
  display: flex;
  justify-content: center;
}

.acadlix-course-page .acadlix-submit-review-btn,
.acadlix-course-page .acadlix-load-review-button,
.acadlix-course-page .acadlix-add-edit-review-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-primary-contrastText);
  border: none;
  border-radius: var(--acadlix-border-radius);
  cursor: pointer;
  box-shadow: var(--acadlix-box-shadow-2);
}

.acadlix-course-page .acadlix-submit-review-btn:hover,
.acadlix-course-page .acadlix-submit-review-btn:focus,
.acadlix-course-page .acadlix-load-review-button:hover,
.acadlix-course-page .acadlix-load-review-button:focus,
.acadlix-course-page .acadlix-add-edit-review-button:hover,
.acadlix-course-page .acadlix-add-edit-review-button:focus {
  background-color: var(--acadlix-primary-dark);
  outline: none;
  box-shadow: var(--acadlix-box-shadow-3);
}

@media only screen and (max-width: 768px) {
  .acadlix-course-page .acadlix-course-header-body {
    max-width: 100%;
    padding: 1rem;
  }

  .acadlix-course-page .acadlix-course-aside {
    display: none;
  }

  .acadlix-course-page .acadlix-course-main-section {
    max-width: 100%;
  }

  .acadlix-course-page .acadlix-mobile-sticky-footer {
    display: flex;
  }

  .acadlix-course-page .acadlix-mobile-price-info {
    display: flex;
  }

  .acadlix-course-page .acadlix-course-reviews-summary {
    flex-direction: column;
  }
}

/* handle breadcrumb visibility on mobile and desktop */

.acadlix-course-page .acadlix-course-breadcrumb {
  padding-bottom: 0.5rem;
  display: flex;
}

.acadlix-course-page .acadlix-course-breadcrumb a {
  color: var(--acadlix-text-tertiary);
  text-decoration: none;
}

.acadlix-course-page .acadlix-course-breadcrumb a:hover {
  color: var(--acadlix-primary-main);
  border-bottom: 1px solid var(--acadlix-primary-main);
}

/* Mobile only */
.acadlix-course-page .acadlix-course-breadcrumb-only-mobile {
  display: none;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-breadcrumb-only-mobile {
    display: flex;
  }
}

/* Desktop only */
.acadlix-course-page .acadlix-course-breadcrumb-only-desktop {
  display: flex;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-breadcrumb-only-desktop {
    display: none;
  }
}

.acadlix-course-page .acadlix-course-featured-item {
  display: flex;
  border-top-left-radius: var(--acadlix-border-radius);
  border-top-right-radius: var(--acadlix-border-radius);
  width: 100%;
  height: 200px;
}

/* Mobile only */
.acadlix-course-page .acadlix-course-featured-item-only-mobile {
  display: none;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-featured-item-only-mobile {
    display: flex;
  }
}

/* Desktop only */
.acadlix-course-page .acadlix-course-featured-item-only-desktop {
  display: flex;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-featured-item-only-desktop {
    display: none;
  }
}

/* Mobile only */
.acadlix-course-page .acadlix-course-aside-details-only-mobile {
  display: none;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-aside-details-only-mobile {
    display: flex;
  }
}

/* Desktop only */
.acadlix-course-page .acadlix-course-aside-details-only-desktop {
  display: flex;
}

@media (max-width: 768px) {
  .acadlix-course-page .acadlix-course-aside-details-only-desktop {
    display: none;
  }
}