* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.acadlix-course-header-section {
  position: relative;
}

.acadlix-course-header-body {
  max-width: 73%;
  border-radius: var(--acadlix-border-radius);
  padding: 3rem;
}

.acadlix-course-header-title {
  font-weight: bold;
  color: var(--acadlix-text-primary);
}

.acadlix-course-header-created-at-text {
  color: var(--acadlix-text-tertiary);
}

.acadlix-course-aside {
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  max-width: 25%;
  background-color: var(--acadlix-background-paper);
  border-radius: var(--acadlix-border-radius);
  box-shadow: var(--acadlix-box-shadow-2);
}

/* Price Section */
.acadlix-mobile-price-info {
  display: none;
}

.acadlix-price-free{
  border-radius: var(--acadlix-border-radius);
  background-color: var(--acadlix-success-main);
  color: var(--acadlix-primary-contrastText);
}

.acadlix-pricing-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acadlix-pricing {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.acadlix-course-sale-price {
  font-size: 22px;
  font-weight: normal;
}

.acadlix-course-price {
  text-decoration: line-through;
  font-size: 16px;
  color: var(--acadlix-text-tertiary);
}

.acadlix-discount-tag {
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-text-white);
  padding: 4px;
}

/* Course Details */
.acadlix-course-aside-details {
  border-top: 1px solid var(--acadlix-text-tertiary);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.acadlix-course-aside-details-option {
  display: flex;
  justify-content: space-between;
}

/* Purchase Section */
.acadlix-course-aside-purchase-options {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.acadlix-action-button {
  width: 100%;
  font-size: 14px;
  justify-content: center;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  background-color: var(--acadlix-primary-main);
  border-radius: var(--acadlix-border-radius);
  color: var(--acadlix-primary-contrastText);
  box-shadow: var(--acadlix-box-shadow-2);
}

.acadlix-action-button:hover {
  background-color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
}

.acadlix-action-button a {
  color: inherit;
}

.acadlix-action-button i {
  margin-right: 5px;
}

.acadlix-course-page-icon-element {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 20px;
  cursor: pointer;
  box-shadow: var(--acadlix-box-shadow-2);
  color: var(--acadlix-primary-main);
}

.acadlix-course-page-icon-element:hover{
  color: var(--acadlix-primary-dark);
  box-shadow: var(--acadlix-box-shadow-3);
}

.acadlix-btn-loader {
  border: 3px solid var(--acadlix-border-color);
  border-top: 3px solid var(--acadlix-primary-main);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1s linear infinite;
}

.acadlix-course-main-section {
  max-width: 70%;
}

.acadlix-course-main-navbar {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.acadlix-course-main-navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.acadlix-course-main-navbar-list li a {
  color: var(--acadlix-text-primary);
}

.acadlix-course-main-navbar-list li a:hover,
.acadlix-course-main-navbar-list li a:focus {
  outline: none;
  border-bottom: 1px solid var(--acadlix-primary-main);
  color: var(--acadlix-primary-main);
}

.acadlix-button-icon {
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: var(--acadlix-primary-main);
  color: var(--acadlix-text-white);
  height: 22px;
  width: 22px;
}


.acadlix-course-overview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Curriculum Section Styling */
.acadlix-curriculum-item {
  border: 1px solid var(--acadlix-border-color);
  border-radius: var(--acadlix-border-radius);
}

.acadlix-curriculum-details {
  overflow: hidden;
}

.acadlix-curriculum-summary {
  display: block;
  padding: 8px 16px;
}

.acadlix-curriculum-summary::-webkit-details-marker {
  display: none;
}

.acadlix-curriculum-summary h3 {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 600;
}

.acadlix-curriculum-summary h3:hover {
  cursor: pointer;
  color: var(--acadlix-primary-main);
}

.acadlix-curriculum-summary h3::before {
  content: "►";
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  transition: rotate 200ms ease-out;
}

.acadlix-curriculum-details[open] {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.acadlix-curriculum-details[open] .acadlix-curriculum-summary {
  border-radius: var(--acadlix-border-radius);
  background-color: var(--acadlix-grey);
}

.acadlix-curriculum-details[open] .acadlix-curriculum-summary h3{
  color: var(--acadlix-primary-main);
}

.acadlix-curriculum-details[open] h3::before {
  rotate: 90deg;
  transition: rotate 200ms ease-out;
}

.acadlix-curriculum-content {
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  border: 0px;
  animation: closeAnimation 0.3s ease forwards;
}

.acadlix-curriculum-details[open] + div.acadlix-curriculum-content {
  max-height: 20rem;
  border-top: 1px solid var(--acadlix-border-color);
  border-radius: var(--acadlix-border-radius);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  animation: openAnimation 0.3s ease forwards;
}

@keyframes openAnimation {
  0% {
    max-height: 0;
    border-top: 0px solid var(--acadlix-border-color);
  }
  100% {
    max-height: 20rem; /* Set high enough value for large content */
    border-top: 1px solid var(--acadlix-border-color);
  }
}

@keyframes closeAnimation {
  from {
    max-height: 20rem;
    border-top: 1px solid var(--acadlix-border-color);
  }
  to {
    max-height: 0;
    border-top: 0px solid var(--acadlix-border-color);
  }
}

.acadlix-curriculum-content-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: inherit;
  transition: background-color 200ms ease-in;
}

.acadlix-curriculum-content-item:hover {
  cursor: pointer;  
  background-color: var(--acadlix-grey);
}

.acadlix-content-text {
  color: var(--acadlix-text-primary);
}

.acadlix-content-duration,
.acadlix-content-icon i {
  color: var(--acadlix-text-tertiary);
}

/* Instructor Photo */
.acadlix-course-instructor-img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 2px solid var(--acadlix-primary-main); /* Added border for emphasis */
}

.acadlix-course-instructor-detail p {
  margin-bottom: 10px;
  color: var(--acadlix-text-tertiary); /* Slightly darkened for readability */
  line-height: 1.5; /* Improved line height */
}

/* Stats Section */
.acadlix-course-instructor-stats {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.acadlix-course-instructor-stats span {
  margin-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

.acadlix-mobile-sticky-footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-around;
  background-color: var(--acadlix-background-paper);
  box-shadow: var(--acadlix-box-shadow-2);
  padding: 10px 10px;
  z-index: 1000;
  gap: 0.25rem;
}

@media only screen and (max-width: 768px) {
  .acadlix-course-header-body {
    max-width: 100%;
    padding: 1rem;
  }

  .acadlix-course-aside {
    display: none;
  }

  .acadlix-course-main-section {
    max-width: 100%;
  }

  .acadlix-mobile-sticky-footer {
    display: flex;
  }

  .acadlix-mobile-price-info {
    display: block;
  }
}
